*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height:100vh;
    background-color: blue;
    position: relative;
    background-image: url(./building.jpg);
    background-size:100% 100vh;
    animation: ani 500s linear infinite;
}
@keyframes ani{
    0%{

    }
    50%{
        background-position: 8000px;
    }
    100%{
        background-position: 8000px;
    }
}
.road{
    width: 100%;
    height: 100px;
    background: black;
    position: absolute;
    top: 84%;
    left: 0%;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(130px) rotateX(20deg);
}
   
.road:before{
    content:'';
    position: absolute;
    top: 50%;
    transform: rotateY(-50%);
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, white 0%,white 70%, black 70%, black 100%);
    background-size: 200px;
    animation: road 5s linear infinite;
}
@keyframes road{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 200px;
    }
}

img{
    position: absolute;
    height: 300px;
    top: 50%;
    right: 0;
    animation: moonwalk 8s linear infinite;
}
@keyframes moonwalk{
    0%{

    }
    100%{
        transform: translateX(-1000px);
    }
}